<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>TUGAS AKHIR Acep R Andriyan 1177050002</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-plot-listing.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" />
  </head>

<body>
     <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <ul class="nav">
              <li><a href="{{ url_for('index') }}" class="active">HOME</a></li>
              <li><a href="{{ url_for('ocr') }}">OCR</a></li>
              <li><a href="{{ url_for('preprocess') }}">PREPROCESSING</a></li>
              <li><a href="{{ url_for('klasifikasi') }}">KLASIFIKASI</a></li> 
              <li><div class="main-white-button"><a href="{{ url_for('pengujian') }}">PENGUJIAN SISTEM</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
    {% block content %}{% endblock %}
  
    <footer>
        <div class="col-lg-12">
          <div class="sub-footer">
                <p>Copyright © 2021 Andriyan A Razif
                <br>
                <!-- Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a></p> -->
          </div>
        </div>
    </footer>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/assets/js/animation.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/imagesloaded.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/custom.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.dropify').dropify({
        messages: {
          'default': '',
          'replace': 'Drag and drop or click to replace',
          'remove': 'Remove',
          'error': 'Ooops, something wrong happended.'
        }
      });
      $('#btn-upload').click(function (e) {
        e.preventDefault();
        var form_data = new FormData($('#uploadform')[0]);       
        $.ajax({
          url: '/upload',
          dataType: 'json',
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          data: form_data,
          type: 'POST',
          async: true,
          // success: function (d) { 
          //   alert('Success!');
          //   console.log(d);
          // },
        }).done(function (d, textStatus, jqXHR) {
          $('#hasilocr').empty();

          alert('Gambar berhasil di upload!!!')
          console.log(d);
          // console.log(textStatus);
          // console.log(jqXHR);
          $("#hasilocr").val(d.res);
        }).fail(function (data) {
          alert('Gambar gagal di upload!!!');
        });
      });
      $('#btn-komen').click(function (e) {
        e.preventDefault();
        var form_data = new FormData($('#komenform')[0]);
        // console.log(form_data)
        $.ajax({
          url: '/komentar',
          dataType: 'json',
          contentType: false,
          processData: false,
          data: form_data,
          type: 'POST',
          async: true,
          // success: function (d) { 
          //   alert('Success!');
          //   console.log(d);
          // },
        }).done(function (d, textStatus, jqXHR) {
          $('#hasiltoken').empty();
          $('#hasilcase').empty();
          $('#hasilstop').empty();
          $('#hasilstem').empty();

          alert('Komentar berhasil masuk!!!')
          // console.log(d);
          // console.log(textStatus);
          // console.log(jqXHR);
          $("#hasiltoken").val(d.token);
          $("#hasilcase").val(d.case);
          $("#hasilstop").val(d.stop);
          $("#hasilstem").val(d.stem);
        }).fail(function (data) {
          alert('Komentar gagal masuk!!!');
        });
      });
      $('#btn-klas').click(function (e) {
        e.preventDefault();
        var form_data = new FormData($('#klas_form')[0]);
        // console.log(form_data)
        $.ajax({
          url: '/klasifikasi_svmc',
          dataType: 'json',
          contentType: false,
          processData: false,
          data: form_data,
          type: 'POST',
          async: true,
          // success: function (d) { 
          //   alert('Success!');
          //   console.log(d);
          // },
        }).done(function (d, textStatus, jqXHR) {
          $('#hasilklas').empty();

          alert('Komentar berhasil masuk!!!')
          // console.log(d);
          // console.log(textStatus);
          // console.log(jqXHR);
          $("#hasilklas").val(d.klas);
        }).fail(function (data) {
          alert('Komentar gagal masuk!!!');
        });
      });
      $('#btn-pengujian').click(function (e) {
        e.preventDefault();
        var form_data = new FormData($('#pengujian-form')[0]);
        // console.log(form_data)
        $.ajax({
          url: '/pengujian_svmc',
          dataType: 'json',
          contentType: false,
          processData: false,
          data: form_data,
          type: 'POST',
          async: true,
          // success: function (d) { 
          //   alert('Success!');
          //   console.log(d);
          // },
        }).done(function (d, textStatus, jqXHR) {
          $('#pengujianrbf').empty();
          $('#pengujianpoly').empty();

          alert('Pengujian berhasil masuk!!!')
          // console.log(d);
          // console.log(textStatus);
          // console.log(jqXHR);
          $("#pengujianrbf").val(d.rbf);
          $("#pengujianpoly").val(d.poly);
        }).fail(function (data) {
          alert('Pengujian gagal masuk!!!');
        });
      });
    })
  </script>
</body>

</html>
