{% extends "base.html" %}
{% block content %}
    <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h2>Implementasi Algoritma SVM Untuk Identifikasi Komentar Negatif Dalam Gambar Di Media Sosial</h2>
          </div>
        
        </div>
        <div class="col-lg-12">
          <div class="text-center">
            <!-- <img src="assets/images/sosmed.png" class="rounded" alt="..."> -->
            
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          
        </div>
      </div>
    </div>
  </div> 
{% endblock %}
